.main-container {
    padding: 20px 0;
    color: black;
    background-color: steelblue;
    color: white;
}

.main-container h4 {
    padding: 0
}
    
.login-col {
    border: 1px solid black;
    box-shadow: 0 0 15px gray;
    margin: -75px 0;
}
