.copyrights {
    margin-top: 25px;
    margin-left: 18%;
}

.white-txt {
    color: #fff;
}

a.link {
    color: #008acc;
    border: 1px #008acc solid;
    padding: 5px;
    text-decoration: none;
}

    a.link:hover {
        background: #008acc;
        color: #383838;
    }

.footimg {
    width: 5rem;
}

.leftpanel {
    background-color: #000;
    /*position: fixed;
    width: 18%;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;*/
}

.logopanel {
    padding: 10px;
}

#collapseMenu {
    padding: 10px;
}

#collapseMenu a{
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

.leftpanelinner {
    padding: 0 10px;
    border: 1px solid green;
}

.sidebartitle {
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 10px;
}

#menu a {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

#menu a {
    background: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#menu a:hover {
    background-color: #fff;
}

.li-element {
    width: 100%;
}

.icons {
    margin-right: 5px;
}

.mainpanel {
    background-image: url('../../Images/adam.jpg');
    background-repeat: no-repeat ;
    background-attachment: scroll;
    background-size: cover;
    min-height: 670px; 
}

.headerbar {
    border-left: 1px solid #eee;
    background: #999;
    height: 50px;
}

.header-right {
    float: right;
}

.headermenu {
    list-style: none;
    margin: 0;
    padding: 0;
}

    .headermenu:after {
        clear: both;
        display: block;
        content: '';
    }

    .headermenu > li {
        display: inline-block;
        float: left;
        border-left: 1px solid #eee;
        position: relative;
        height: 50px;
        padding: 5px;
        background-color: #fff;
    }

.dropdown-menu {
    font-size: 9pt;
    padding: 10px;
}

    .dropdown-menu a {
        color: #999;
        text-decoration: none;
    }

.dropicons {
    margin-right: 10px;
}

.headermenu .dropdown-menu li {
    padding: 5px;
}

    .headermenu .dropdown-menu li:hover {
        background-color: #428bca;
        color: #fff;
    }

        .headermenu .dropdown-menu li:hover a {
            color: #fff;
        }

.headermenu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    border-radius: 50px;
    border: 1px #e1e1e1;
}


.headermenu .dropdown-menu-usermenu {
    background: #343a40;
    min-width: 200px;
}

.dropdown-menu-usermenu a {
    color: #999;
    padding-left: 0;
}

.headermenu .dropdown-toggle {
    background-color: #fff;
}

.btn-white {
    background-color: #fff;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-responsive2 {
    display: block;
    max-width: 100%;
    height: auto;
    opacity: 0.4;
}

.contentpanel {
    padding: 20px;
    position: relative;
}

    .contentpanel::after {
        clear: both;
        display: block;
        content: '';
    }

