
@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid main-container">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h4>matriksCRM ile;</h4>
                <h5>Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</h5>
            </div>
            <div class="col-5 login-col bg-white rounded">

            </div>
        </div>
    </div>
</div>
