
@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container nav-container">
        <a href="@Url.Action("Index", "Home")" class="navbar-brand" style="font-family: 'Montserrat', sans-serif; font-size:x-large; font-weight:bold; padding-left:20px">matriksCRM</a>
    </div>
</nav>

<div class="container-fluid main-container">
    <div class="container">
        <div class="row">
            <div class="col-7">
                <h4>matriksCRM ile;</h4>
                Bu site Matriks CRM içindir. </div>
            <div class="col-5 login-col bg-white rounded">

            </div>
        </div>
    </div>
</div>
