
@{
    ViewBag.Title = "Index";
    <link href="@Url.Content("~/Content/Index.css")" rel="stylesheet" type="text/css" />
}

<div class="container-fluid text-center main-container">
    <div class="row">
        <div class="col-12">
            <h3>Müşteri Takip Platformu</h3>
            <h4>
                Müşteri bilgileri ve önemli görüşme notlarına ulaşın. Teklif hazırlamaktan siparişe tüm satış sürecini yönetin. Mobil CRM ile her yerden müşteri takip edin, hız kazanın.
            </h4>
        </div>
    </div>
</div>
