
@{
    ViewBag.Title = "Category";
}
<style>
    .leftpanel {
        width: 200px;
        top: 0;
        left: 0;
        z-index: 100;
        background: #343a40;
        position: absolute;
        height: 670px;
    }

    .logopanel {
        padding: 10px;
        padding-bottom: 20px;
        background: #343a40;
        border-bottom: 1px solid #343a40;
    }

    .leftpanelinner {
        padding: 5px 10px;
    }

    .sidebartitle {
        font-size: 11px;
        text-transform: uppercase;
        color: #999;
        margin-bottom: 10px;
    }

    #menu li {
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    #menu a {
        color: #999;
        text-decoration: none;
        font-size: 14px;
    }

    #menu li:hover {
        background-color: #fff;
    }

        #menu li:hover a {
            color: #343a40;
        }

    .li-element {
        width: 100%;
    }

    .icons {
        margin-right: 5px;
    }

    .nav-bracket {
        margin-bottom: 30px;
    }

    .mainpanel {
        background: #e4e7ea;
        min-height: 670px;
        margin-left: 200px;
    }

    .headerbar {
        border-left: 1px solid #eee;
        background: #fff;
        height: 50px;
    }

    .header-right {
        float: right;
    }

    .headermenu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        .headermenu:after {
            clear: both;
            display: block;
            content: '';
        }

        .headermenu > li {
            display: inline-block;
            float: left;
            border-left: 1px solid #eee;
            position: relative;
            height: 50px;
            padding: 5px;
            background-color: #fff;
        }

    .dropdown-menu {
        font-size: 9pt;
        padding: 10px;
    }

        .dropdown-menu a {
            color: #999;
            text-decoration: none;
        }

    .dropicons {
        margin-right: 10px;
    }

    .headermenu .dropdown-menu li {
        padding: 5px;
    }

        .headermenu .dropdown-menu li:hover {
            background-color: #428bca;
            color: #fff;
        }

            .headermenu .dropdown-menu li:hover a {
                color: #fff;
            }

    .headermenu .dropdown-toggle img {
        vertical-align: middle;
        margin-right: 5px;
        width: 26px;
        border-radius: 50px;
        border: 1px #e1e1e1;
    }

    .headermenu .dropdown-toggle .caret {
        margin-left: 5px;
    }

    .headermenu .dropdown-menu-usermenu {
        background: #343a40;
        min-width: 200px;
    }

    .dropdown-menu-usermenu li {
        color: #999;
    }

    .headermenu .dropdown-toggle {
        background-color: #fff;
    }

    .btn-white {
        background-color: #fff;
    }

    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .contentpanel{
        padding:20px;
        position:relative;
    }
    .contentpanel::after{
        clear:both;
        display:block;
        content:'';
    }
</style>
<div class="leftpanel">
    <div class=" logopanel">
        <h1>
            <span onclick="location.href='#'" style="cursor:pointer">
                <img class="img-responsive" src="~/Images/crmLogo.png" style="width:170px"  />
            </span>
        </h1>
    </div>
    <div class="leftpanelinner">
        <h5 class="sidebartitle">Menü</h5>
        <ul id="menu" class="nav nav-pills nav-stacked nav-bracket">
            <li id="Menüli" class="active li-element">
                <a href="/Home/Category">
                    <i class="fas fa-home icons"></i>
                    <span>Anasayfa</span>
                </a>
            </li>
            <li id="Uygulamali" class="nav-parent li-element">
                <a href="#!">
                    <i class="fab fa-product-hunt icons"></i>
                    <span>Uygulama Projeleri</span>
                </a>
            </li>
            <li id="Dogruli" class="nav-parent li-element">
                <a href="#!">
                    <i class="fas fa-money-bill icons"></i>
                    <span>Doğrudan Satış Projeleri</span>
                </a>
            </li>
            <li id="istakipid" class="nav-parent li-element">
                <a href="#!">
                    <i class="fas fa-briefcase icons"></i>
                    <span>İş Takip Platformu</span>
                </a>
            </li>
            <li id="musteritakipid" class="nav-parent li-element">
                <a href="#!">
                    <i class="far fa-address-book icons"></i>
                    <span>Müşteri Takip Platformu</span>
                </a>
            </li>
            <li id="ajandaid" class="nav-parent li-element">
                <a href="#!">
                    <i class="fas fa-calendar-alt icons"></i>
                    <span>Ajanda</span>
                </a>
            </li>

        </ul>
        <script language="javascript" src="http://is.sitekodlari.com/takvim5.js"></script>
    </div>
</div>
<div class="mainpanel">
    <div class="headerbar">
        <div class="header-right">
            <ul class="headermenu">
                <li>
                    <button type="button" class="btn btn-sm btn-white " data-toggle="dropdown" style="color:#fff;">
                        <i class="fas fa-plus fa-2x " style="color:#1d2939;"></i>
                    </button>
                    <ul class="dropdown-menu pull-right dropdown-menu-usermenu" role="menu">
                        <li>
                            <a href="#!">
                                <i class="fas fa-briefcase dropicons "></i>Teklif
                            </a>
                        </li>
                        <li>
                            <a href="#!">
                                <i class="far fa-address-book dropicons"></i>Firma
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="mm">
                            <img src="~/Images/profil.png" />
                            <span hidden-xs>Sümeyye Keskin</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li>
                                <a href="#!">
                                    <i class="fas fa-user dropicons"></i>
                                    <span>Profil</span>
                                </a>
                            </li>
                            <li>
                                <a href="#!">
                                    <i class="fas fa-cog dropicons"></i>
                                    <span>Ayarlar</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Home/Index">
                                    <i class="fas fa-sign-out-alt dropicons"></i>
                                    <span>Çıkış</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>   
    @*<div ng-view class="ng-scope">
        <div id="dashboardDiv" class="contentpanel" ng-show="true==dashboardscreen">
            <div ng-repeat="dashboardwidget in data.dashboardwidget" class="ng-scope">
                <div ng-class="{'row':$index%4==3}">
                    <div class="col-md-3">
                        <div class="panel panel-green widget-messasing ng-scope" ng-if="dashboardwidget.cid=='1'
                             && baseService.is_granted('deal_list')">
                            <div class="panel-heading ></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
</div>


